.NU_CalenderComponent {
    width: 868px;
    right: 50px;
    position: fixed;
    top: 109px;
}

.NU_CalanderPopup_DashboardComponent{
    width: 868px;
    right: 50px;
    position: fixed;
    top: 109px;
}
