.Volunteer_ViewOneUpcomingVolunteerEvents_chatBox{
    margin-top: -368px;
    margin-left: 550px;
}
.Volunteer_ViewOneUpcomingVolunteerEvents_BackButton{
    margin-left: 560px;
}
.Volunteer_ViewOneUpcomingVolunteerEvents_BackButton_hidden{
    margin-left: 860px;
}
.Volunteer_ViewOneUpcomingVolunteerEvents_chatBoxNewMessageCount{
    font-weight: 600;
    margin-left: 10px;
}