#sidebar{
    z-index: 0;
    width:1560px;
}

.container-fluid{
    display:block;
}

#parentM li a:hover{
    background-color: rgb(67, 67, 233);
}

#parentM > li.nav-item > a.nav-link[data-menu="Events"]:hover,
#parentM > li.nav-item > a.nav-link[data-menu="Events"].active {
    background-color: #4d4949;
}

#submenuEvents > li.nav-item > a.nav-link[data-menu="UpcomingEvents"]:hover,
#submenuEvents > li.nav-item > a.nav-link[data-menu="UpcomingEvents"].active {
    background-color: #696767;
}

#submenuUpcoming > li.nav-item > a.nav-link[data-menu="PhysicalEvents"]:hover,
#submenuUpcoming > li.nav-item > a.nav-link[data-menu="PhysicalEvents"].active {
    background-color: #007bff; 
}

#submenuEvents > li.nav-item > a.nav-link[data-menu="PreviousEvents"]:hover,
#submenuEvents > li.nav-item > a.nav-link[data-menu="PreviousEvents"].active {
    background-color: #696767;
}

#submenuPrevious > li.nav-item > a.nav-link[data-menu="PreviousPhysicalEvents"]:hover,
#submenuPrevious > li.nav-item > a.nav-link[data-menu="PreviousPhysicalEvents"].active {
    background-color: #007bff; 
}

#parentM > li.nav-item > a.nav-link[data-menu="Booked_Events"]:hover,
#parentM > li.nav-item > a.nav-link[data-menu="Booked_Events"].active {
    background-color: #4d4949;
}

#submenuBooked_Events > li.nav-item > a.nav-link[data-menu="UpcomingBooked_Events"]:hover,
#submenuBooked_Events > li.nav-item > a.nav-link[data-menu="UpcomingBooked_Events"].active {
    background-color: #696767; 
}

#submenuUpcomingBooked_Events > li.nav-item > a.nav-link[data-menu="PhysicalBooked_Events"]:hover,
#submenuUpcomingBooked_Events > li.nav-item > a.nav-link[data-menu="PhysicalBooked_Events"].active {
    background-color: #007bff; 
}

#submenuBooked_Events > li.nav-item > a.nav-link[data-menu="PreviousBooked_Events"]:hover,
#submenuBooked_Events > li.nav-item > a.nav-link[data-menu="PreviousBooked_Events"].active {
    background-color: #696767; 
}

#submenuPreviousBooked_Events > li.nav-item > a.nav-link[data-menu="PreviousPhysicalBooked_Events"]:hover,
#submenuPreviousBooked_Events > li.nav-item > a.nav-link[data-menu="PreviousPhysicalBooked_Events"].active {
    background-color: #007bff; 
}

#parentM > li.nav-item > a.nav-link[data-menu="Deleted_Events"]:hover,
#parentM > li.nav-item > a.nav-link[data-menu="Deleted_Events"].active {
    background-color: #4d4949;
}

#submenuDeleted_Events > li.nav-item > a.nav-link[data-menu="PhysicalDeleted_Events"]:hover,
#submenuDeleted_Events > li.nav-item > a.nav-link[data-menu="PhysicalDeleted_Events"].active {
    background-color: #007bff; 
}

#parentM > li.nav-item > a.nav-link[data-menu="RegistretionRequest"]:hover,
#parentM > li.nav-item > a.nav-link[data-menu="RegistretionRequest"].active {
    background-color: #4d4949;
}

#submenuDeleted_Events > li.nav-item > a.nav-link[data-menu="HealthProfessionalRegistretionRequest"]:hover,
#submenuDeleted_Events > li.nav-item > a.nav-link[data-menu="HealthProfessionalRegistretionRequest"].active {
    background-color: #007bff; 
}

#WellnessVision{
    text-align: center;
    color:aqua;
    margin-left: 22px;
    font-size: 20px;
}

#navbar{
    z-index: 1;
    margin-left: 248px;
    width:unset;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

.name {
    margin-right: -350px;
    margin-top: 0;
    font-size: 18px;
    font-weight: 590;
}  

.WellnessVisionIcon {
    position: absolute;
    width: 73px;
    height: 45px;
    border-radius: 10px;
  }

#WellnessVisionName{
    margin-left: 85px;
    font-weight: 600;
    font-size: 22px;
    font-family:'Courier New', Courier, monospace;
}

.account a:hover{
    background-color: rgb(122, 122, 122);
    color: white;
}

.account_div a:hover{
    border: 0.8px solid;
}