.HP_SelectOneHallForPhysicalEventPopup{
    z-index: 10;
}
.HP_SelectOneHallForPhysicalEvent_AvailableTimeHeading{
    margin-left: -13px;
    font-weight: 500;
}
.HP_SelectOneHallForPhysicalEvent_BookingTime{
    color: green;
    font-weight: 590;
}
.HP_SelectOneHallForPhysicalEventBookingButton{
    margin-left: 50px;
}
.HP_SelectOneHallForPhysicalEventPopupLayer{
    z-index: 10;
}
.HP_SelectOneHallForPhysicalEvent_SettheEventTime{
    font-weight: 500;
}