.NU_NotificationSubject{
    position: absolute;
    margin-left: 80px;
}
.NU_Notification_viewMore{
    position: absolute;
    margin-left: 990px;
}
.NU_Notification_notificationTime{
    position: absolute;
    margin-left: 490px;
}
.NU_Notification_markButton{
    margin-left: 660px;
}