.header{
    position: absolute;
    margin-top: -625px;
    margin-left: 280px;
    font-size: 25px;
    font-weight: 590;
}

.cardHang {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    margin-left: 305px; 
    margin-top: 120px;
}

.cardHang .card {
    margin-right: 21px;
    margin-bottom: 21px;
}

.cardHang a:hover{
    cursor: pointer;
    transform: translateY(-3px);
}

.detail{
    font-weight: 590;
}

.date{
    margin-top: -40px;
    margin-left: 150px;
}

.duration{
    margin-top: -40px;
    margin-left: 270px;
}

.e_type{
    font-weight: 590;
    margin-left: 180px;
    margin-top: -30px;
}

.straight-line {
    width: 100%;
    height: 0.5px; 
    background-color: rgb(194, 192, 192); 
    margin: 10px 0;
}

.image{
    border-radius: 5px 0 5px 0;
    width: 600px;
    height: 273px;
}

.base_details{
    margin-top: -280px;
    margin-left: 600px;
}

.price{
    font-weight: 590;
    margin-top: 10px;
}

.seats{
    font-weight: 590;
    margin-top: 0;
}

.booked{
    font-weight: 590;
    margin-top: -40px;
    margin-left: 150px;
}

.language{
    font-weight: 590;
    margin-top: -1px;
}

.physical{
    margin-top: -2px;
}

.description{
    margin-top: 10px;
}

.back_button{
    margin-left: 5px;
    width: 250px;
}

.view_button{
    width: 250px;
    margin-left: 325px;
}

.book_button{
    width: 250px;
    margin-left: 50px;
}

.book_buttonText{
   font-weight: 590;
}