.NU_ViewOneBookedUpcomingPhysicalEvent_ParticipationDetailsLine{
    margin-top: 50px;
}
.NU_ViewOneBookedUpcomingPhysicalEvent_ParticipationDetailsPic{
    margin-top: -12px;
    margin-left: 12px;
}
.NU_ViewOneBookedUpcomingPhysicalEvent_participantId{
    margin-top: -120px;
    margin-left: 200px;
}
.NU_ViewOneBookedUpcomingPhysicalEvent_participantState{
    margin-left: 200px;
}
.NU_ViewOneBookedUpcomingPhysicalEvent_eventState{
    margin-left: 200px;
}
.NU_ViewOneBookedUpcomingPhysicalEvent_back{
    margin-top: 50px;
    margin-left: 260px;
}
.NU_ViewOneBookedUpcomingPhysicalEvent_receipts{
    margin-top: 50px;
    margin-left: 50px;

}
.NU_ViewOneBookedUpcomingPhysicalEvent_delete{
    margin-top: 50px;
    visibility: visible;
}

.NU_ViewOneBookedUpcomingphysicalEvents_loading_gif{
    margin-left: 600px;
    margin-top: 100px;
}

.NU_ViewOneBookedUpcomingPhysicalEvent_EventState{
    margin-left: 20px;
}

.NU_ViewOneBookedUpcomingPhysicalEvent_delete_hidden{
    visibility: hidden;
}
.NU_ViewOneBookedUpcomingPhysicalEvent_back_hidden{
    margin-left: 550px;
}