
.clear_button_addEvent{
    margin-top: 5px;
    margin-left: 5px;
    width: 60px;
    height: 35px;
}

.clear_button_text_addEvent{
    position: absolute;
    margin-top: -12px;
    margin-left: -17px;
}

.time_wrong_addEvent{
    z-index: 5;
    color: #ffff;
    margin-top: -20px;
    font-size: 16px;
    font-weight: 590;
    width: 760px;
    height: 26px;
    border-radius: 10px;
    background-color: #FF474D;
}

.RsTag_addEvent{
    height: 45px;
}

.popup {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
  }

  .popup.show {
    visibility: visible;
    opacity: 1;
  }
  
  .popup-inner {
    background: white;
    position: relative;
  }

  #popup-inner_HP_AddPhysicalEvent{
    margin-top: 25px;
  }
  
  .close-btn {
    justify-content: center;
    position: absolute;
    top: -15px;
    right: 10px;
    cursor: pointer;
    height: 30px;
    width: 50px;
  }

  .closeAddEvent{
    position: absolute;
    top: 2px;
    left: 17px;
  }

  .event_date_HP_AddPhysicalEvent{
    margin-left: -400px;
  }

  .cover_image_HP_addPhysicalEvent{
    position: absolute;
    margin-top: -28px;
    margin-left: 0;
  }
  
  .image_language_div_HP_addPhysicalEvent{
    margin-top: 20px;
  }

  .language_HP_addPhysicalEvent{
    height: 50px;
  }

  .hp_header{
    margin-top: -65px;
  }

 .EventDescription_add_physical_event_hp{
       margin-top: -15px;
  }
  
.Money_receipts_details_HP_addPhysicalEvent{
    margin-top: -8px;
}

.EventDate_HP_addPhysicalEvent_for_hp{
  margin-top: -20px;
}

.submit_button_HP_addPhysicalEvent{
  margin-top: -25px;
}

.capasity_HP_addPhysicalEvent{
  margin-top: -20px;
}

.hp_form_padding_HP_addPhysicalEvent{
  padding: 20px 15px 10px 15px;
}
.HP_AddPhysicalEventPaddingToExpectedCapacity{
  padding: 0 0 10px 0;
}