.HP_Dashboard_dashboard{
    margin-left: 280px;
    margin-top: 75px;
}
.HP_Dashboard_eventCard{
    width: 80%;
    margin-left: 280px;
    margin-top: 20px;
}
.HP_Dashboard_eventCard2{
    width: 80%;
    margin-left: 280px;
    margin-top: 50px;
}

.HP_Dashboard_Content {
    margin-left: 250px; /* Adjust this value based on your sidebar width */
    padding: 20px;
    background-color: #f9fafb;
    min-height: 100vh;
}