.HP_Dashboard_dashboard{
    margin-left: 280px;
    margin-top: 75px;
}
.HP_Dashboard_eventCard{
    width: 80%;
    margin-left: 280px;
    margin-top: 20px;
}
.HP_Dashboard_eventCard2{
    width: 80%;
    margin-left: 280px;
    margin-top: 50px;
}