.HP_MyAppointment_title {
    margin-left: 280px;
    margin-top: 75px;
  }
  
  .HP_MyAppointment_appointmentList {
    width: 80%;
    margin-left: 280px;
    margin-top: 20px;
  }
  
  .HP_MyAppointment_card {
    margin-top: 20px;
  }
  
  .HP_MyAppointment_noAppointments {
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
    color: #888;
  }
  
  .HP_MyAppointment_error {
    text-align: center;
    color: red;
    margin-top: 50px;
    font-size: 18px;
  }
  