.HP_Notification_cardBody{
    background-color: #f7fafd;
}
.HP_NotificationSubject{
    position: absolute;
    margin-left: 80px;
}
.HP_Notification_viewMore{
    position: absolute;
    margin-left: 980px;
}
.HP_Notification_notificationTime{
    position: absolute;
    margin-left: 450px;
}
.HP_Notification_markButton{
    margin-left: 650px;
}