/* HP_Register.css */
body {
    background-color: #f0f8ff; 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.hp_form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f8ff;
    margin-top: -25px;
}

.form_div {
    margin-top: 50px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
    text-align: center;
}

.hp_header {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 590;
}

.personal {
    margin-left: -625PX;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 590;
}

.Profession {
    margin-left: -625PX;
    font-size: 18px;
    font-weight: 590;
}

.Profession_2 {
    margin-left: -610PX;
    margin-top: -10px;
    font-size: 18px;
    font-weight: 590;
}

.form-group {
    margin-bottom: 15px;
}

.name-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.name-group .form-group {
    flex: 1;
    margin-right: 10px;
}

.name-group .form-group:last-child {
    margin-right: 0;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #66afe9;
    outline: none;
}

.form-check {
    margin-top: 15px;
    text-align: left;
}

.form-check-input {
    margin-right: 10px;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.message {
    margin-top: 20px;
    color: green;
}

.passwordNotMatchingErrorHpRegister{
    margin-top: 10px;
    font-weight: 590;
    color: red;
}

.passwordPattenErrorHpRegisterDiv{
    margin-top: -15px;
    background-color:bisque;
    border-radius: 5px;

}

.passwordPattenErrorHpRegister{
    opacity: 1;
    visibility: visible;
    margin-top: 10px;
    font-weight: 590;
    color: red;
    padding: 5px;
}

.passwordPattenErrorHpRegisterNotShow{
    opacity: 0;
    visibility: hidden;

}

.profilePicture{
    margin-top: -50px;
}

.phoneNumberError_HP_Resister{
    margin-top: -4px;
}
.HP_Register_loading_gif{
    display: block;
    margin-top: 450px;
}
.HP_Register_loading_gif_notShow{
    display: none;
}