.Volunteer_ChatWithHealthProfessionalEditMessagePopup__backEditSection{
    margin-top: -2px;
}
.Volunteer_ChatWithHealthProfessionalEditMessagePopup___sendButtonEditSection{
    margin-left: 250px;
    margin-top: -0.5px;
}