.Admin_ViewOneHealthProfessionalRegistrationRequestImage{
    margin-left: -600px;
    margin-top: 50px;
}
.Admin_ViewOneHealthProfessionalRegistrationRequestId{
    margin-top: -300px;
}
.Admin_ViewOneHealthProfessionalRegistrationRequestdiv{
    margin-left: 200px;
    text-align: none;
    align-items: none;
    justify-content: none;
}